.admin-layout {
    display: flex;
    height: 100vh;
}

.admin-sidebar {
    width: 250px;
    background: #ffffff;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.admin-sidebar a {
    color: black;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.admin-sidebar a nz-icon {
    padding-right: 10px;
}

.admin-sidebar a:hover {
    cursor: pointer;
    background-color: rgb(228, 224, 224);
}

.admin-sidebar a.active {
    background-color: rgb(228, 224, 224);
}
