<div class="">
    <h5 class="fw-light">Danh sách người dùng</h5>
    <div class="d-flex mb-2">
        <input nz-input placeholder="Email" class="w-auto me-2" />
        <button nz-button nzType="default" nzShape="circle" class="me-2"><nz-icon nzType="search" /></button>
        <button nz-button nzType="default" nzShape="circle" class="me-2"><nz-icon nzType="reload" /></button>
        <div class="flex-fill"></div>
        <button nz-button><nz-icon nzType="plus" /> Thêm tài khoản quản lý</button>
    </div>
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="data.items" class="border border-1 pe-2"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
            <tr>
                <th>STT</th>
                <th>Email</th>
                <th>Họ đệm</th>
                <th>Tên</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th>Lần cuối đăng nhập</th>
                <th>Online/Offline</th>
            </tr>
        </thead>
        <tbody>
            @for (data of rowSelectionTable.data; track data; let i = $index) {
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.lastName }}</td>
                    <td>{{ data.firstName }}</td>
                    <td>{{ data.role.name }}</td>
                    <td>{{ data.isActived }}</td>
                    <td>{{ data.lastLogin }}</td>
                    <td>{{ data.isOnline }}</td>
                </tr>
            }
        </tbody>
    </nz-table>
</div>