<header class="header">
    <nav class="navbar">
        <div class="nav-brand">
            <a class="h4 fw-bolder" href="/">
                <img src="assets/images/banner.png" alt="" height="30">
            </a>
        </div>
        <div class="nav-links">
            @if (authService.getCurrentUser()?.role == 'admin') {
                <a [routerLink]="urls.getManageDashboardPath()" routerLinkActive="active">Quản lý</a>
            }


            @if (authService.isAuthenticated$ | async) {
                <div class="user-menu" nz-dropdown [nzDropdownMenu]="menu">
                    <div class="user-info">
                        <nz-avatar nzPlacement="bottomRight" [nzSrc]="(authService.currentUser$ | async)?.avatarUrl"
                            [nzText]="(authService.currentUser$ | async)?.fullName?.charAt(0)" nzSize="small"
                            class="user-avatar">
                        </nz-avatar>
                        <span class="user-name">{{ (authService.currentUser$ | async)?.fullName }}</span>
                        <span nz-icon nzType="down" nzTheme="outline" class="dropdown-icon"></span>
                    </div>
                </div>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item (click)="logout()">
                            <span nz-icon nzType="logout" nzTheme="outline"></span>
                            <span class="ms-2">Đăng xuất</span>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            } @else {
                <a [routerLink]="urls.getAuthLoginPath()" routerLinkActive="active">Đăng nhập</a>
            }
        </div>
    </nav>
</header>

<main class="main-content" style="min-height: 100vh;">
    <router-outlet />
</main>

<footer class="footer">
    <div class="footer-content">
        <span>&copy; 2025 HoangCN. All rights reserved.</span>
    </div>
</footer>